@import url('https://fonts.googleapis.com/css?family=Lobster+Two&display=swap');
section {
    margin: 0 auto;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    background-color: seashell;
    padding: 10px 10px;
    border-collapse: collapse;    
    float: left;
}

.imagenIndex {
    width: 30em;
}

.textoJustificado {
    text-align: justify;
}

.alineadoCentro {
    display: flex;
    align-items: center;
}

section .contenidoFlexible {
    display: flex;
}

section .imagenProducto {
    width: 250px;
    height: 250px;
    border: 2px solid teal;
    border-radius: 20px;
    margin-right: 20px;
}

section article p {
    margin-bottom: 50px;
}

.agregarCarro {
    background-color: teal;
    color: white;
    text-decoration: none;
    border: 10px solid teal;
    border-radius: 20px;
    line-height: 30px;
    height: 30px;
    display: inline-block;
}

section h2 {
    font-family: 'Lobster Two', cursive;
}

@media only screen and (max-width:900px) {
    section {
        width: 125%;
    }
    article>.imagenIndex {
        width: 30em;
    }
}

@media only screen and (max-width:800px) {
    section {
        width: 125%;
    }
    article>.imagenIndex {
        width: 40%;
    }
}
