                    @import url('https://fonts.googleapis.com/css?family=Lobster+Two&display=swap');
                * {
                    margin: 0px;
                    padding: 0px
                }
                
                nav {
                    width: auto;
                    background-color: #f6ecbf;
                    border: solid 4px rgb(172, 145, 167);
                    border-radius: 10px;
                    margin: 0px;
                    display: inline-block;
                    float: left;
                }
                
                nav ul {
                    text-align: center;
                    padding-top: 50px;
                    height: 33em;
                }
                
                nav ul>li {
                    list-style: none;
                    font-size: 22px;
                    background-color: rgb(249, 245, 250);
                    border: 3px white solid;
                    font-family: 'Lobster Two', cursive;
                    padding: 20px;
                    border-radius: 20px;
                    transition: background-color 0.5s;
                }
                
                .boton {
                    width: 2em;
                    background-color: white;
                    padding: 1em;
                    border-radius: 12px;
                    display: none;
                }
                
                nav a {
                    text-decoration: none;
                    color: rgb(119, 119, 80);
                    transition: color 1s;
                }
                
                .dulce {
                    width: 250px;
                    height: 300px;
                }
                
                li>img {
                    width: 32px;
                    margin: 2px;
                }
                
                nav ul>li:hover {
                    background-color: rgb(33, 158, 167);
                    color: white;
                    border: 3px rgb(209, 113, 113) solid;
                }
                
                a:hover {
                    color: rgb(204, 204, 51);
                }
                
                @media only screen and (max-width:900px) {
                    nav {
                        width: 100%;
                        width: auto;
                    }
                }
                
                @media only screen and (max-width:500px) {
                    nav ul>li {
                        font-size: 10px;
                        border: 3px white solid;
                        padding: 10px;
                        border-radius: 20px;
                    }